@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container center">
        <h2 class="text-center"> checkbox selected items</h2>
       @foreach(var items in Model.CheckedItems){
         <p class="fs-4">@items.Name</p>
        <table>
            
            @foreach (var fruit in @items.IsChecked)
            {
                <tr>
                    <td>
                        <label class="form-label">@fruit</label>
                    </td>
                </tr>
            }
        </table>
    }
</div>