@page
@model GenerikRepositoryPattern.Pages.Checkbox.IndexModel

@if (TempData["message"]!=null){
    <div class="alert alert-success" role="alert">
        @TempData["message"]
    </div>
}
<h1>hello multiple checkbox</h1>

